<div class="container-fluid my-5 border rounded-4 shadow-lg">
  <div class="row text-center pb-0 pe-lg-0 py-lg-3 align-items-center ">
    <div class="col-2">
      <%= link_to ('<i class="fa fa-arrow-left"></i>').html_safe, tournaments_path, class:"mx-5 text-dark fs-2 align-items-start "%> 
    </div>
    <div class="col-8">
      <h2 class="text-center">Adding New Tournament</h2>    
    </div>
		<%= render 'form' %>
  </div>
</div> 