// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.team_list_form{
  max-height: 500px;
  padding: 10px;
  border-radius: 10px;
  background: aliceblue;
  overflow: auto;
}

.accordion-button{
  background-color: #004172 !important;
  color: white !important;
  font-weight: bold;
  text-transform: uppercase;
}
