// Place all the styles related to the tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.team-registration-radio{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-registration-radio > input[type=radio] {
    border: 0px;
    width: 100%;
    height: 2em;
}
