<div class="side-navbar active-nav  justify-content-between flex-wrap flex-column" id="sidebar">
	<ul class="nav flex-column text-white w-100">
		<a href="#" class="nav-link h3 text-white my-2">
		Gamers </br>Machine
		</a>
		<li href="#" class="nav-link">
			<i class="bx bxs-dashboard"></i>
			<span class="mx-2">Home</span>
		</li>
		<li href="#" class="nav-link">
			<i class="bx bx-user-check"></i>
			<span class="mx-2">Profile</span>
		</li>
		<a href="<%= destroy_super_admin_session_path%>" data-method="delete" >
		<li href="#" class="nav-link">
			Sign Out
		</li>
		</a>
	</ul>

	<span href="#" class="nav-link h4 w-100 mb-5">
		<a href=""><i class="bx bxl-instagram-alt text-white"></i></a>
		<a href=""><i class="bx bxl-twitter px-2 text-white"></i></a>
		<a href=""><i class="bx bxl-facebook text-white"></i></a>
	</span>
</div>

